In [1]:
3+4

7

In [2]:
print("hellow machine learning")

hellow machine learning

In [10]:
user=input("enter Machine learning Login details")
user = "MonyaneM"
if user != "MonyaneM":
    print("enter correct details")
else:
        print("incorrect details")

enter Machine learning Login details MonyaneM

incorrect details

In [14]:
import numpy as np
import pandas as pd

In [20]:
data=np.random.randint(0,100,[1000,50])
pf=pd.DataFrame(data)
pf.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,78,93,43,7,54,72,58,67,10,99,...,92,86,27,12,17,71,16,72,50,10
999,74,72,74,99,77,21,70,25,34,48,...,18,49,81,4,90,4,36,88,95,60

In [1]:
pwd

'C:\\Users\\moloe'